<footer class="relative bg-[#001e63] text-white pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl fonat-semibold text-blueGray-700">
          Let's keep in touch!
        </h4>
        <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
          Find us on any of these platforms, we respond 1-2 business days.
        </h5>
        <div class="mt-6 mb-6 flex items-center space-x-4">
          <a routerLink="#">
            <img
              src="https://img.icons8.com/color/48/000000/facebook-new.png"
            />
          </a>
          <a routerLink="#">
            <img
              src="https://img.icons8.com/fluency/48/000000/instagram-new.png"
            />
          </a>
          <a routerLink="#">
            <img src="https://img.icons8.com/fluency/48/000000/tiktok.png" />
          </a>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-sm font-medium mb-2"
              >Useful Links</span
            >
            <ul class="list-unstyled">
              <li>
                <a class="font-medium block pb-2 text-sm" href="#">About Us</a>
              </li>
              <li>
                <a class="font-medium block pb-2 text-sm" href="#">Blog</a>
              </li>

              <li>
                <a class="font-medium block pb-2 text-sm" href="#"
                  >Free Products</a
                >
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-sm font-medium mb-2"
              >Other Resources</span
            >
            <ul class="list-unstyled">
              <li>
                <a
                  class="font-medium block pb-2 text-sm"
                  href="https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md?ref=njs-profile"
                  >MIT License</a
                >
              </li>
              <li>
                <a
                  class="font-medium block pb-2 text-sm"
                  href="https://creative-tim.com/terms?ref=njs-profile"
                  >Terms &amp; Conditions</a
                >
              </li>
              <li>
                <a
                  class="font-medium block pb-2 text-sm"
                  href="https://creative-tim.com/privacy?ref=njs-profile"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a
                  class="font-medium block pb-2 text-sm"
                  href="https://creative-tim.com/contact-us?ref=njs-profile"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <p class="text-sm text-blueGray-500 font-semibold py-1">
          © 2022 Asics. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
